{% extends "main/layout.html" %}
{% block content %}

<div class="container mt-3">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to MDVT!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    </div>
</div>

<div class="container">
    <h3>Please choose a type of media data to work on:</h3>

    <div class="row">
        <div class="col-md-4 mt-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Depict Statements</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum felis mauris, fermentum quis magna sollicitudin.</p>
                    <a href="{{ url_for('contribute.contribute') }}" class="btn btn-outline-primary btn-block stretched-link">Start</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-3">
            <div class="card text-white bg-secondary">
                <div class="card-body">
                    <h5 class="card-title">More to come...</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum felis mauris, fermentum quis magna sollicitudin.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
