/**********
    MAIN
**********/

.card-btn-group a,
.card-btn-group button {
    height: 100%;
}

.card-btn-group .col a,
.card-btn-group .col button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.card-btn-group .col-sm-auto a,
.card-btn-group .col-sm-auto button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left-width: 0;
}

/**********
CONTRIBUTE
**********/

.contribute-card.loading .dummy-image,
.contribute-card.loading .dummy-statement {
    display: block;
}

.contribute-card.loading .dummy-title,
.contribute-card.loading .dummy-desc,
.contribute-card.loading .dummy-cats {
    display: inline-block;
    width: 120px;
    height: 19px;
    background-color: #DDD;
    margin-bottom: -4px;
}

.contribute-card.loading .dummy-image {
    height: 400px;
    background-color: #DDD;
}

.contribute-card.loading .dummy-statement {
    width: 500px;
    height: 38px;
    background-color: #DDD;
    margin-left: auto;
    margin-right: auto;
}

.contribute-card.loading .dummy-image,
.contribute-card.loading .dummy-statement,
.contribute-card.loading .dummy-title,
.contribute-card.loading .dummy-desc,
.contribute-card.loading .dummy-cats {
    animation: colorchange 3s infinite;
    -webkit-animation: colorchange 3s infinite;
}

@keyframes colorchange {
    0% {background-color: #DDD;}
    50% {background-color: #CCC;}
    100% {background-color: #DDD;}
}

@-webkit-keyframes colorchange {
    0% {background-color: #DDD;}
    50% {background-color: #CCC;}
    100% {background-color: #DDD;}
}

.contribute-card.loading #img-link,
.contribute-card.loading #statement {
    display: none;
}

.contribute-card.loading button.btn {
    background-color: #AAA;
    border-color: #AAA;
}

.contribute-card .dummy-image,
.contribute-card .dummy-statement,
.contribute-card .dummy-title,
.contribute-card .dummy-desc,
.contribute-card .dummy-cats {
    display: none;
}

.contribute-card .card-img-container {
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.contribute-card .card-img-top {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 400px;
}

.contribute-card #statement a:first-child {
    text-transform: capitalize;
}

.contribute-card .btn {
    height: 100px;
}
