{% extends "main/layout.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2 my-3">
            <div class="card contribute-card loading">
                <div class="dummy-image"></div>
                <div class="card-img-container">
                    <a href="" id="img-link" target="_blank">
                        <img class="card-img-top" src="">
                    </a>
                </div>
                <div class="card-body">
                    <div class="dummy-statement"></div>
                    <h1 class="h2 text-center" id="statement"></h1>
                    <div class="row mt-3">
                        <div class="col-sm-4 mt-1">
                            <button type="button" id="true-btn" class="btn btn-success btn-lg btn-block">True</button>
                        </div>
                        <div class="col-sm-4 mt-1">
                            <button type="button" id="false-btn" class="btn btn-danger btn-lg btn-block">False</button>
                        </div>
                        <div class="col-sm-4 mt-1">
                            <button type="button" id="skip-btn" class="btn btn-dark btn-lg btn-block">Skip</button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <b>Title:</b> <div class="dummy-title"></div><span id="media-title"></span><br/>
                    <b>Description:</b> <div class="dummy-desc"></div><span id="media-desc"></span>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
{% block scripts %}

<script src="{{ url_for('static', filename='contribute.js') }}"></script>

{% endblock scripts %}
