{% extends "main/layout.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2 mt-3">
            <div class="card contribute-media">
                <div class="card-header"></div>
                <div class="card-body">
                    <h1 class="h2 text-center">Building(s) can be seen in the above image</h1>
                    <div class="row mt-3">
                        <div class="col-sm-4 mt-1">
                            <button type="button" class="btn btn-success btn-lg btn-block">True</button>
                        </div>
                        <div class="col-sm-4 mt-1">
                            <button type="button" class="btn btn-danger btn-lg btn-block">False</button>
                        </div>
                        <div class="col-sm-4 mt-1">
                            <button type="button" class="btn btn-dark btn-lg btn-block">Skip</button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <b>Title:</b> <span id="media-title">blah</span><br/>
                    <b>Description:</b> <span id="media-desc">blah</span>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
